<nav class="m-2 text-xl flex justify-between">
  <div>
    <a class="p-2 inline-block" href="/">Home</a>
    <a class="p-2 inline-block" href="/posts">Job Posts</a>
    <a class="p-2 inline-block" href="/monitor" target="_blank">Fiber Monitor</a>
  </div>

  <form class="select-none" onchange="utils.setTheme(event)">
      <label class="flex items-center">
        <span class="text-slate-900 dark:text-slate-900">theme</span>
        <select class="ml-2 dark:bg-slate-600">
          <option class="bg-transparent" selected={"light" === currentTheme} value="light">
            🌞
          </option>
          <option class="bg-transparent" selected={"dark" === currentTheme} value="dark">
            🌘
          </option>
          <option
            class="bg-transparent"
            selected={"system" === currentTheme || !currentTheme}
            value="system"
          >
            🌎
          </option>
        </select>
      </label>
    </form>
</nav>