<div class="mb-4 h-10">
  <select    
    aria-hidden="true"
    class="hide slim-select"
    hx-post="/partials/posts/search"
    hx-target="#post-list"
    hx-trigger="change"
    id="tags"
    name="tags"
    tabindex="-1"
    multiple
    x-init="window.utils.loadSlimSelect"
  >
    {{#Tags}}
      <option value="{{Name}}" {{#Selected}}selected{{/Selected}}>{{Name}}</option>
    {{/Tags}} 
  </select>
</div>


<div id="post-list">
{{> views/post_list }}
</div>
